<header>
    <img class="img_logo" src="/_img/seguranca_cibernetica_postagem_logo.jpg" alt="Logo Segurança Cibernética">
    <link rel="stylesheet" href="/_css/customizacao.css">
    <section class="cabecalho">
        <nav>
            <ul>
                <li><a class="navegacao_cont" href="solucao">Soluções</a></li>
                <li><a class="navegacao_cont" href="servico">Serviços</a></li>
                <li><a class="navegacao_cont" href="autor">Sobre</a></li>
                <li><a class="navegacao_cont" href="contrate">CONTRATE</a></li>
                <li><a class="navegacao_cont" target="_blank"
                        href="https://www.oneit.com.br/seguranca-da-informacao/">Site Referência</a></li>
                <li><a class="navegacao_cont" href="index">Página Inicial</a></li>
            </ul>
            <li>
                Administrador
                <ul>
                    <li><a class="navegacao_cont" href="login">Login</a></li>
                    <li><a class="navegacao_cont" href="cadastro">Cadastro de Usuários</a></li>
                    <li><a class="navegacao_cont" href="admin">Cadastro de Produtos</a></li>

                </ul>
            </li>
        </nav>
    </section>
</header>