<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> consultoria em Segurança da Informação </title>
    </head>
<body>
    <header>
    <%- include('/home/node/app/views/cabecalho.ejs') %> 
    </header>

    <Main>
        <section>

            <h1>Contrate</h1>

            <p>Contrate agora sua consultoria!!!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod dui odio, commodo consectetur
                nulla scelerisque sed. Nunc auctor dolor id tortor molestie lacinia. Fusce vitae semper nisl. Donec eget
                purus quis sapien aliquam ullamcorper sit amet quis leo. Etiam eleifend urna eget metus elementum, ut
                ullamcorper velit accumsan. Donec vel odio ultricies, rutrum enim eu, efficitur ligula. Etiam fermentum
                bibendum turpis ac ornare. In accumsan imperdiet porta. Integer quis quam non nibh pretium aliquet.
                Praesent convallis, ante ac mattis porttitor, dolor nisi porta lacus, pretium interdum urna nunc in
                libero. Curabitur tortor odio, semper in metus a, luctus volutpat metus. Suspendisse nec placerat ante.
            </p>

        </section>

        <Footer class="texto3">
            Desenvolvido Por <a href="sobre.html">George Paulo</a>
        </Footer>
</body>
</html>