<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Consultoria em Segurança da Informação </title>
        <script src="/_js/consultoria.js"></script>
        <style>
            .padrao {
                color: green;
            }
            .npadrao {
                color: red;
            }
        </style>
    </head>
<body>
    <header>
    <%- include('/home/node/app/views/cabecalho.ejs') %> 
    </header>

    <section id="resposta">
        <form method="post" onSubmit="event.preventDefault(); escolher();" id="formulario" ;>
            <br><br>
            <h2>Serviço de Consultória em Segurança Cibiernética</h2><br>
            <input name="id" type="hidden" value="0">
            <label for="data">Data</label><br>
            <input type="date" id="data" name="data"><br>
            <label for="servico">servico</label><br>
            <input type="text" id="servico" name="servico"><br>
            <label for="consultoria">consultoria</label><br>
            <input type="text" id="consultoria" name="descricao"><br><br>
            <button type="submit" class="button button2">Enviar</button>
        </form>
    </section>
    <button onclick="listar();">Listar</button>
    <button><a href="cadastro">Cadastro de Serviços Ofertados</a></button>
    <section id="descricao_seginfo">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Consultoria</th>
                    <th>Servico</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="consultorias">
                
            </tbody>
        </table>
    </section>

</body>

</html>