<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> consultoria em Segurança da Informação </title>
</head>

<body>
    <header>
        <%- include('/home/node/app/views/cabecalho.ejs') %>
    </header>
    <main>

        <article>
            <h1>Soluções em Consultória em Segurança da Informação</h1>
            <p>Consultoria em Segurança da Informação é um serviço que visa auxiliar empresas a identificar e tratar
                riscos
                de segurança da informação, de forma a garantir a confidencialidade, integridade e disponibilidade dos
                dados
                e sistemas de informação.</p>
        </article>

        <article>
            <h2>Os Nossos Especialistas</h2>
            <p>Os melhores profissionais você encontra aqui!!</p>


    </main>
    <Footer class="texto3">
        Desenvolvido Por <a href="sobre.html">George Paulo</a>
    </Footer>